 html,
 body {
   width: 100%;
   height: 100%;
 }
 
 body {
   font-family: 'Muli', 'Helvetica', 'Arial', 'sans-serif';
 }
 
 a {
   color: #fdcc52;
   transition: all .35s;
 }
 
 a:hover, a:focus {
   color: #fcbd20;
 }
 
 hr {
   max-width: 100px;
   margin: 25px auto 0;
   border-width: 1px;
   border-color: rgba(34, 34, 34, 0.1);
 }
 
 img{
    width: 650px;
    padding: 5px;
    border: 8px solid #999999;
    background-color: #e6e6e6;
 }

 hr.light {
   border-color: white;
 }
 
 h1,
 h2,
 h3,
 h4,
 h5,
 h6 {
   font-family: 'Catamaran', 'Helvetica', 'Arial', 'sans-serif';
   font-weight: 200;
   letter-spacing: 1px;
   color: #ffffff;
 }
 
 p {
   font-size: 18px;
   line-height: 1.5;
   margin-bottom: 20px;
 }
 
 section {
   padding: 100px 0;
 }
 
 section h2 {
   font-size: 50px;
 }

 header.masthead {
   position: relative;
   width: 100%;
   padding-top: 150px;
   padding-bottom: 100px;
   color: white;
   background: url("assets/img/pattern1.png"), #7b4397;
   background: url("assets/img/pattern1.png"), linear-gradient(to left, #7b4397, #dc2430);
 }
 
 header.masthead .header-content {
   max-width: 500px;
   margin-bottom: 100px;
   text-align: center;
 }
 
 header.masthead .header-content h1 {
   font-size: 30px;
 }
  
 @media (min-width: 992px) {
   header.masthead {
     height: 100vh;
     min-height: 775px;
     padding-top: 0;
     padding-bottom: 0;
   }
   header.masthead .header-content {
     margin-bottom: 0;
     text-align: left;
   }
   header.masthead .header-content h1 {
     font-size: 50px;
   }
   header.masthead .device-container {
     max-width: 325px;
   }
 }
 
 footer {
   padding: 25px 0;
   text-align: center;
   color: rgba(255, 255, 255, 0.3);
   background-color: #222222;
 }
 
 footer p {
   font-size: 14px;
   margin: 0;
 }
 
 footer ul {
   margin-bottom: 0;
 }
 
 footer ul li a {
   font-size: 12px;
   color: rgba(255, 255, 255, 0.3);
 }
 
 footer ul li a:hover, footer ul li a:focus, footer ul li a:active, footer ul li a.active {
   text-decoration: none;
 }
 
 .bg-primary {
   background: #fdcc52;
   background: linear-gradient(#fdcc52, #fdc539);
 }
 
 .text-primary {
   color: #fdcc52;
 }
 
 .no-gutter > [class*='col-'] {
   padding-right: 0;
   padding-left: 0;
 }
